*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_div{
    height: 500px;
    width: 500px;
    padding: 25px;
    margin: 25px;
    display: flex;
    flex-direction: row;
}
.child_div1{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 100%;
    animation-name: google;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    margin: 2px;
}
.child_div2{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 100%;
    animation-name: google;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: alternate-reverse;
    margin: 2px;
}
.child_div3{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 100%;
    animation-name: google;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    margin: 2px;
}
.child_div4{
    height: 100px;
    width: 100px;
    background-color: orange;
    border-radius: 100%;
    animation-name: google;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    margin: 2px;
}
@keyframes google{
    from{
        height: 10px;
    }
    to{
        height: 50px;
    }
}